*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pading_bottom_40px{
    padding-bottom: 40px;
}
.page_1{

}

.with{
    width: 260px;
    height: 170px;
}

.color_ChuMo{
    color: #000000aa;
}
.Menu{
    padding-top: 10px;
    width: 1462px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #0000001a;

}

.Menu_left{
    
    display: flex;
    justify-content: space-between;
    width: 520px;
}
.pading_top_10px{
    padding-top: 10px;
}
.Menu_left a{
    text-decoration: none;
    color: #000000aa;
}
.ip_search input{
    width: 180px;
    height: 24px;
    background-color: #00000008;
    border: 1px solid #00000008;
    border-radius: 2px;
    
}

.Menu_right{
    width: 320px;
    display: flex;
    justify-content: space-between;
}
/* Recommen */
.pading_LR_140px{
    padding: 0px 140px;
}

.Recommen{
    margin-top: 52px;
}

.Reconmmen_top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

}
.Reconmmen_top a{
    text-decoration: none;
    color: rgb(0, 213, 255);
}

.Recommen_bottom{
    display: flex;
    justify-content: space-between;
}

.bottom_content{
    width: 261px;
    border: 1px solid #00000012;
    border-radius: 4px;
}
.pading_LR_12px{
    padding: 20px 12px;
}
.pading_Top_20px{
    padding-top: 20px;
}

.bottom_content_center{
    display: flex;
    justify-content: space-between;
}

.bottom_content_last{
    display: flex;
    justify-content: space-between;
}
.dola{
    font-size: 18px;

}

.Off_20{
    font-size: 11px;
    text-align: center;
    padding-top: 3px;
    width: 52px;
    color: white;
    background-color: rgba(133, 23, 188, 0.911);
    border-radius: 8px;
}
.Beginer{
    font-size: 11px;
    text-align: center;
    width: 80px;
    background-color: rgba(212, 14, 14, 0.805);
    color: white;
    border-radius: 8px;
    padding-top: 3px;
}

/* digital */

.digital{
    margin-top: 52px;
    display: flex;

}
.digital_left{
    width: 591px;
    background-color: rgba(250, 235, 215, 0.49);
    height: 387px;
}
.digital_right_img{
    width: 591px;
}

.digital_left_conten{
    padding-left: 40px;
    padding-top: 100px;
}
.digital_left_conten h2{
    font-size: 30px;
}


.digital_left_p{
    line-height: 1.4;
    color: #000000aa;
}

.digital_btn{
    width: 120px;
    height: 32px;
    background-color: #00BCD4;
    border: 1px solid #00BCD4;
    border-radius: 4px;
    color: white;
}

/* popular */
.popular{
    width: 1462px;
    padding-top: 80px;
}
.Beginer_2{
    font-size: 11px;
    text-align: center;
    width: 64px;
    background-color: #00BCD4;
    color: white;
    border-radius: 8px;
    padding-top: 3px;
}

/* Trending */

.Trending{
    padding-bottom: 52px;
}

/* Footer */
.margin_LR_140px{
    margin: 0px 140px;
    
}

.Footer{
    width: 1462px;
    border-top: 1px solid #00000008;
    background-color: #00000008;
    padding-bottom: 12px;
}

.Footer_conten{
    padding-top: 60px;
    display: flex;   
    justify-content: space-between;
    width: 1000px; 
    height: 260px;
    
    
}

.logo_footer{
    width: 128px;
}

.Footer_inp{
    width: 200px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #000000aa;
}

.Footer_btn{
    width: 100px;
    height: 28px;
    background-color: #00BCD4;
    border: 1px solid #00BCD4;
    border-radius: 4px;
    color: white;
}

.font_size_12px{
    font-size: 12px;
}

.pading_Top_10px{
    padding-top: 10px;
}
.font_weight{
    font-weight: 600;
    font-size: 20px;
}

.font_size_24px{
    font-size: 24px;
    font-weight: 600;
    color: #00BCD4;
}

.Footer_bottom{
    border-top:2px solid #0000001a ;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.ma_Top_40px{
    margin-top: 40px;
}
.Footer_4img{
    display: flex;
    justify-content: space-between;
    width: 132px;
}

.English{
    width: 100px;
    height: 28px;
}


/* page 2 */
.margin_40px{
    margin-bottom: 40px;
}

.class_page2{
    display: flex;
    flex-direction: column;
    padding-left: 150px ;
    padding-right: 150px;
}
#menu{
    display: flex;
}
#menu2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#body{
    display: flex;
    width: 100%;
    margin-top: 30px;
}
#body1{
    display: flex;
    color: gray;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid gainsboro;
}
.button:hover{
    color: aqua;
}
#text{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
}
.benefit{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
#body2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#table{
    margin-top: 30px;
    width: 40%;

}
#body3{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
#reviews{
    display: flex;
    margin-top: 20px;
    justify-content: space-between
}
#reviews2{
    display: flex;
    margin-top: 30px;
    justify-content: space-between
}
.height_170px{
    height: 170px;
}


/* checkOut */

.checkOut_left{
    border:1px solid #00000012;
    border-radius: 4px;
    height: 392px;
}

.checkOut_lr{
    display: flex;
    justify-content: space-between;
    width: 1462px;
}

.checkOut_left_teacher{
    display: flex;
    justify-content: space-between;
    width: 744px;
}
.checkOut_right{
    width: 360px;
    
}



.checkOut_right_PDLR{
    padding: 0px 28px;
    border:1px solid #00000012;
    border-radius: 4px;
}



.bottom_content p{
    margin: 0px;
}

.pading_L_20px{
    padding-left: 20px;
}


/* Study */

.study_a{
    text-decoration: none;
    
}
.color_black{
    color: #000000cc;
}
h1{
    font-weight: 700;
}

.study_rating{
    width: 1182px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.study_rating_left{
    width: 240px;
    display: flex;
    justify-content: space-between;
}
.border_right{
    width: 90px;
    height: 20px;
    border-right: 1px solid #000000aa;
}

.study_rating_right{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.dis_F_SPB{
    display: flex;
    justify-content: space-between;
}

.study_audito{
    width: 1182px;
    display: flex;
    justify-content: space-between;
}

.study_audio_p{
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 64px;
    font-family: Poppins;
    line-height: 22px;
    color: #9095A0FF;
    font-size: 20px;
}
.ss{
    display: flex;
    justify-content: space-between;
}

.study_4{
    width: 1182px;
    margin-top: 40px;
    height: 40px;
    border-bottom: 1px solid #00000012;
}

.study_conten{
    display: flex;
    justify-content: space-between;
    width: 1182px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.study_conten_container{
position: absolute; 
  top: 769px; 
  left: 974px; 
  width: 336px; 
  height: 612px; 
  background: #FEF6F1FF; /* secondary-100 */
  border-radius: 4px; /* border-m */
}
.study_conten_container img{
    position: absolute; 
    top: 20px; 
    left: 20px; 
    width: 280px; 
    height: 408px; 
    border-radius: 4px; /* border-m */
}

.search_study{
    width: 812px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    
}
.search_study_img{
    width: 768px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #F3F4F6FF;

}

.search_study_img input{
    width: 586px; 
    height: 36px; 
    padding-left: 12px; 
    padding-right: 34px; 
    font-family: Montserrat;
    font-size: 14px; 
    background: #F3F4F6FF; 
    border-radius: 18px; 
    border-width: 0px; 
    outline: none; 
}

.search_study_comment{
    width: 812px;
    padding-top: 16px;
}

.p_study_conten{
    width: 812px;
    padding: 0px 40px;
}